.bg-primary {
  color: #ccc;
  background-color: #000;
}

.m-top-15{

	margin-top:15px; 
}


.op-25 {
	opacity: 0.25;}

.btn-primary{background-color:#f98722;}

#slider{padding:0px;margin-top:0px;}




#menu{margin-bottom:0px;}